.details {
    position: sticky;
    top: 0;
    /* padding: 2rem 2rem; */
    background-color: aliceblue;
    margin: 0 1rem;
    width: 100%;

}

.personal-info {
    display: flex;
    justify-content: center;

}

.personal-info h4 {
    margin-top: 0;
    margin-bottom: 0;
}

.personal-info p {
    margin-top: 0;
    margin-bottom: 0;
}

.personal-info img {
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
}

.bmi {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
}