.exercise-cart {
    border: 1px solid black;
    height: 25em;
    width: 19rem;
    position: relative;
}

.exercise-cart div {
    margin-bottom: 0px;
    margin-top: 0px;
}

.name {
    height: 3rem;
    margin-top: .5rem;
    margin-bottom: 0;
    margin-block-start: 0;
}

.exercise-cart p {
    margin-bottom: .25rem;
    margin-top: .25rem;


}

.exercise-cart img {
    height: 10rem;
    width: 19rem;
}

.btn-cart {
    width: 100%;
    height: 2rem;
    position: absolute;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: cadetblue;
    font-size: medium;
    font-weight: 600;
}

.btn-cart:hover {
    background-color: darkkhaki;
}